@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:300&display=swap');

.confirmed-order .top-container {
    height: 15vh;
    background-color: #E8EDE6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmed-order h1{
    font-family: 'Hepta Slab', serif;
    font-size: 2em;
    margin: 5vh;
}

.confirmed-order h2{
    font-family: 'Hepta Slab', serif;
    font-size: 3em;
    margin: 20vh;
}

.confirmed-order .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    position: relative;
}

.confirmed-order .central-container {
    background-color: #E8EDE6;
    height: 80%;
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmed-order img {
    width: 20vw;
    position: absolute;
    top: 40vh;
    left: 75vw;
}
