@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:300&display=swap');

.login {
    background-color: #E8EDE6;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5vh;
    position: relative;
    text-align: center;
    line-height: 1.5em;
}

.login h1{
    font-family: 'Hepta Slab', serif;
    font-size: 3em;
    margin: 5vh;
}

.login input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.login img {
    width: 35vw;
    position: absolute;
    top: 30vh;
    right: 65vw;
}

.login .input {
    text-align: center;
}

.login input{
    width:100%;
}

.login textarea:focus, input:focus{
    outline: none;
    border: 2px solid #6e2142;
}

.login .button {
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
    font-size: 1em;
    background-color: #E8EDE6;
    outline: 0;
    width: 50%;
    margin: 10% 0;
}

.login .button:hover {
    background-color: #d2c8c8;
    border: 1px solid #d2c8c8;
}

.login a {
    text-decoration: none;
    color: #6e2142;
}