.ma-cagette .top-container {
    height: 15vh;
    background-color: #E8EDE6;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.ma-cagette .central-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ma-cagette .left-container {
    width: 60%;
    height: 100%;
}

.ma-cagette .cagette {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    height: 65%;
}

.ma-cagette .right-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ma-cagette .ticket {
    border-radius: 25px;
    border: 2px solid #d2c8c8;
    height: 55vh;
    width: 80%;
    padding: 3vh;
    position: relative;
}

.ma-cagette .total {
    position: absolute;
    top: 45vh;
    font-size: 1.5em;
    color:#6e2142;
}

.ma-cagette .totalPrice {
    color: black;
    font-size: 1em;
    position: absolute;
    left: 30vw;
    bottom: 6.5vh;
}

.ma-cagette .button {
    border-radius: 10px;
    border: 1px solid #6e2142;
    padding: 0.6em;
    font-size: 0.6em;
    outline: 0;
    background-color: white;
    margin-top: 1em;
}

.ma-cagette .button:hover {
    background-color: #d2c8c8;
    border: 1px solid #d2c8c8;
}



