.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-top-container {
    height: 15vh;
    background-color: #E8EDE6;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.all-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

