.address-form {
    width: 20vw;
    border-radius: 25px;
    border: 2px solid #d2c8c8;
    margin: 5vh 2vw 0 2vw;
    display: flex;
    padding: 3vh;
    position: relative;
    text-align: center;
    line-height: 1.5em;
}

.address-form input[type=text] {
    width: 60%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.address-form .button {
    border-radius: 10px;
    border: 1.5px solid #d2c8c8;
    padding: 1em;
    font-size: 1em;
    background-color: white;
    outline: 0;
    width: 30%;
    margin-top: 5%;
}

.address-form .button:hover {
    background-color: #d2c8c8;
    border: 1px solid #d2c8c8;
}

.address-form .input {
    display: flex;
    justify-content: space-between;
}

.address-form .input label {
    padding-top: 0.5em;
}