@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:300&display=swap');

.product-card {
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
    font-family: 'Hepta Slab', serif;
}

.product-card .active {
    background-color: #d2c8c8;
    border-radius: 50%;
    border : 2px solid #d2c8c8;
    outline: 0;
}

.product-card .not-active {
    background-color: white;
    border-radius: 50%;
    border : 2px solid #d2c8c8;
    outline: 0;
}

.product-card img {
    width: 3vw;
    padding: 1vw;
}

.product-card p {
    padding: 0.8%;
}